body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/caldera_oscura.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

  .navbar-brand{
    width:100px;
  }

